@import "tailwindcss";

:root {
  /* Colors */
  --bg-dark: #1a1a1a;
  --bg-light: #f5f5f5;

  --text-light: #f4f4f4;
  --text-light-muted: #f4f4f466;

  --text-dark: #0a0a0a;
  --text-dark-muted: #0a0a0a66;

  --accent: #fd3c22;
  --accent-muted: #fd3c2266;

  --padding-global: 48px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: clamp(10px, calc(16 / 1440 * 100vw), 999px);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-light);
  background-color: var(--bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tailwind Custom Classes */
@theme inline {
  --color-bg-dark: var(--bg-dark);
  --color-bg-light: var(--bg-light);

  --color-light: var(--text-light);
  --color-light-muted: var(--text-light-muted);

  --color-dark: var(--text-dark);
  --color-dark-muted: var(--text-dark-muted);

  --color-accent: var(--accent);
  --color-accent-muted: var(--accent-muted);

  --spacing-global: var(--padding-global);
}

@layer components {
  .section {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .section-inner {
    padding: calc(var(--padding-global) * 2) var(--padding-global);
  }

  /* Silk Serif */
  .display-serif {
    font-family: "Silk Serif", serif;
    font-size: 11.25rem;
    font-weight: 400;
    line-height: 0.9;
    letter-spacing: -6%;
  }

  .h1-serif {
    font-family: "Silk Serif", serif;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -1%;
  }

  .h2-serif {
    font-family: "Silk Serif", serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -1%;
  }

  .body-serif {
    font-family: "Silk Serif", serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -1%;
  }

  /* Neue Helvetica */
  .display-sans {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 11.25rem;
    font-weight: 400;
    line-height: 0.9;
    letter-spacing: -6%;
  }

  .h1-sans {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -1%;
  }

  .h2-sans {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -1%;
  }

  .body-sans {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -1%;
  }

  .label-sans {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: -1%;
  }
}

button {
  cursor: pointer;
  padding: 2px 8px;
}
